**/Generated_Source
**/Archive
**/codegentemp
**/CortexM3
*.nmill
*.Nathan
*.log
*.rpt
*.svd
*.html
**/Export
*.cycdx
*.cyfit
Flight Controller/Module Documents/gui
*/emFile_V322c
!Flight Controller/Talon_01.cydsn/CortexM3/ARM_GCC_541/Debug/Talon_01.hex
#!CortexM3/ARM_GCC_541/Debug/*.elf
*ComponentUpdateLog.txt
#**/Talon_01.cydsn
**/Comm Motor Control Test with Interrupt.cydsn
**/Comm Motor Control Test.cydsn
**/SensorDataFlow.cydsn
**/Source Files
